

$font-family: "Montserrat", sans-serif;
$second-family: "Work Sans", sans-serif;
$third-family: "Poppins", sans-serif;

$grey-fc: #a0a0a0;
$black-fc: #000000;
$white-fc: #ffffff;


$white-bc: #ffffff;
$black-bc: #000000;